*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#eaf6ff;

display:flex;

justify-content:center;

padding:30px;

}

.container{

width:380px;

background:white;

border-radius:30px;

padding:20px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.icon{

width:40px;

height:40px;

background:#d9ecff;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:#3498db;

}

.balance-card{

background:linear-gradient(135deg,#74b9ff,#4aa3ff);

color:white;

padding:25px;

border-radius:20px;

margin-bottom:20px;

}

.balance-card p{

opacity:.8;

}

.balance-card h1{

margin:10px 0;

font-size:38px;

}

.wallet{

display:flex;

justify-content:space-between;

align-items:center;

background:#f5fbff;

padding:18px;

border-radius:18px;

margin-bottom:20px;

}

.wallet i{

font-size:30px;

color:#3498db;

}

.title{

margin-bottom:15px;

}

.transaction{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

background:#f7fbff;

margin-bottom:12px;

border-radius:15px;

}

.expense{

color:red;

font-weight:bold;

}

.income{

color:green;

font-weight:bold;

}

.add{

position:fixed;

bottom:30px;

left:50%;

transform:translateX(-50%);

width:60px;

height:60px;

border:none;

border-radius:50%;

background:#3498db;

color:white;

font-size:25px;

cursor:pointer;

}